html, body, #app{
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.shop-aside-name-container{
    width: 23%;
    height: 700px;
    position: fixed;
  }
  .shop-aside-name-container h1{
    font-size: 25px;
    text-align: center;
  }