.item-grid{
    width: 350px;
    height: 70%;
    border: 1px solid rgb(158, 158, 158);
    margin: 20px;
    float: left;
    margin-top: 90px;
  }
  .item-image-grid{
    width: 300px;
    height: 300px;
    left: 50%;
    top: 8%;
    position: relative;
    transform: translate(-50%);
  }
  .item-image{
    width: 300px;
    height: 300px
  }
  .item-price{
    width: 350px;
    height: 100px;
    top: 12%;
    position: relative;
  }
  .item-price .price{
    font-size: 50px;
    float: left;
    top: 50%;
    position: relative;
  }
  .shop-link{
    float: left;
    width: 110px;
    top: 30%;
    position: relative;
    /* transform: translate(-50%); */
  }
  .item-price .stock{
    color: rgb(149, 149, 149);
    width: 100px;
    float: left;
    top: 30%;
    position: absolute;
    margin-left: 20px;
  }
  .in-cart{
    width: 350px;
    height: 70px;
    top: 10%;
    position: relative;
  }
  .in-cart-btn{
    text-align: center;
    width: 110px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }